# API configuration
REACT_APP_API_HOST="http://localhost:8080/api/v1/"

# Algolia search configuration
REACT_APP_ALGOLIA_APPLICATION_ID="--- app ID here ---"
REACT_APP_ALGOLIA_API_KEY="--- search only API key here ---"
