$text-colour: #4A4A4A;
$text-colour-light: hsl(214, 7%, 50%);
$text-colour-transparent: transparentize($color: $text-colour, $amount: 0.5);

$border-colour: #E5E1E1;
$border-colour-transparent: transparentize($color: $border-colour, $amount: 0.2);

$background-colour: #F3F3F3;

$green-colour: #1BBC9B;
$green-colour-transparent: transparentize($color: $green-colour, $amount: 0.2);

$golden-colour: #F5AB35;
