@import 'styles/_colours.scss';

.facet-tag {
  color: $text-colour;
  padding: 0.75rem 0;
  margin-right: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-colour-transparent;

  .icon {
    display: none;
    color: $green-colour-transparent;
    text-align: right;

    &.remove-icon {
      font-size: 1.2rem;
    }
  }

  .is-count {
    color: $text-colour-transparent;
  }

  &.is-active {
    font-weight: 700;

    .is-count {
      display: none;
    }

    .active-icon {
      display: block;
    }

    &:hover {
      .remove-icon {
        display: block;
      }
      .active-icon {
        display: none;
      }
    }
  }
}
