.facet-tag:hover {
  .tag.is-count {
    position: relative;
    color: whitesmoke;
    &::before, &::after {
      background-color: #4A4A4A;//currentColor;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      height: 50%;
      width: 1px;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
    }
    &::before {
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    &::after {
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
  }
}