.field.facet-field {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  > .header {
    display: flex;
    justify-content: space-between;

    .title {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}
