.field.facet-field {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  > .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    .title {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  > .control {
    margin-left: -0.75rem;
  }
}
