@import 'bulma/sass/utilities/_all';

.hero.hero-header {
  position: relative;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include from($tablet) {
    background-position: center -250px;
  }

  .hero-body {
    min-height: 200px;
    background-color: rgba(20, 20, 20, 0.4);

    .header-content {
      .columns {
        margin: 1.5rem 0;
      }

      .title {
        color: #FFFFFF;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.9);
        -webkit-transition: text-shadow 0.25s ease-out;
        -moz-transition: text-shadow 0.25s ease-out;
        transition: text-shadow 0.25s ease-out;

        &:hover {
          text-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
        }
      }

      @include mobile {
        .columns .column {
          text-align: center;
        }
      }

      @include from($tablet) {
        .columns {
          .column:last-of-type {
            text-align: right;
          }
        }
      }
    }
  }
}
